@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Timeout Error";
}

<hgroup class="title">
    <h1 class="error">Timeout Error.</h1>
    <h2 class="error">A service call timed out while processing your request.</h2>
</hgroup>
